---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.row {
    @media only screen and (max-width: 500px){
        margin-left: 5px;
        margin-right: 5px
    }
    .page__content.small {
        @media only screen and (min-width: 500px) and (max-width: 600px){
            font-size: $type-size-5;
        }
        @media only screen and (max-width: 600px){
            font-size: $type-size-5;
        }
    }
}

.archive {
    margin-top: 0;
    font-size: $type-size-7;
  
    @media only screen and (max-width: 500px){
        margin-left: 5px;
        margin-right: 5px
    }
    @media only screen and (min-width: 500px) and (max-width: 600px){
        font-size: $type-size-5;
    }
    @media only screen and (max-width: 600px){
        font-size: $type-size-5;
    }
  }
  