---
layout: archive
---

{{ content }}

{% capture my_include %}{% include intro.md %}{% endcapture %}
{{ my_include | markdownify }}



{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<h2 id="research-section" class="archive__subtitle2">{{ site.data.ui-text[site.locale].research_projects | site.data.ui-text[site.locale].projects | default: "Research2" }}</h2>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
